<h1 class="title">
<% if (item.link){ -%>
  <% if (item.title){ -%>
    <a href="<%- item.link %>" target="_blank"><%= item.title %></a>
  <%} else { %><a href="<%- item.link %>" target="_blank"><%= item.link %></a><%}%>
  <%} else { -%>
  <% if (index){ -%>
    <a href="<%- config.root %><%- item.path %>"><%= item.title %></a>
    <% } else { %><%= item.title -%><% } %>
  <%}%>
</h1>