<%partial('module');%>
<%- partial('_partial/head') %>
<% var sidebar = (!page.hasOwnProperty('sidebar') || page.sidebar);
if (page.widgets && page.widgets.theme == false)
    sidebar = false;
%>
<body>
  <header id="header" class="container inner"><%- partial('_partial/header',{__: hexo.__('menu')}) %></header>
    <div id='content' class="container inner">
       <div class="page-header-wrapper"><div class="page-header"><h1><%- config.title %> <small><%- config.subtitle %></small></h1></div></div>
       <div class="row">
         <div id="main-col" <%if (sidebar) {%>class="alignleft col9 col-sm-7 col-md-9 col-lg-9"<%}%>>
	    <%- config.load_widgets('header',page) %>
	    <div id="wrapper"><%- body %></div><!--wapper-->
         </div><!-- ID main-col END -->
         <%if (sidebar) {%><div id="sidebar" class="alignright col3 col-sm-5 col-md-3 col-lg-3 well-sm"><%- partial('_partial/sidebar',{__: hexo.__('widgets')}) %></div><%}%>
         <div class="clearfix"></div>
       </div><!-- row END -->
    </div>
    <footer id="footer" class="container">
    <div class="panel panel-info">
    <%- config.load_widgets('footer',page) -%>
    <%- partial('_partial/footer') %>
    </div>
    </footer>
    <%- partial('_partial/after_footer') %>
</body>
</html>