<nav id="main-nav" class="navbar navbar-default navbar-fixed-top <% if (theme.bs_nav_inverse) { %>navbar-inverse <%}%>" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%- config.root %>"><%- config.title %></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
	<%  for (var i in theme.menu) {
		if ( Object.prototype.toString.call(theme.menu[i] ) === '[object Object]' ) {
		%>
		  <li class='dropdown'>
		    <a class='dropdown-toggle' data-toggle='dropdown' href='#'><%= i %><b class='caret'></b></a>
		    <ul class='dropdown-menu'>
		<%      for (var j in theme.menu[i]) { %>
		      <li><a href="<%-(theme.menu[i][j][0] == '/' && theme.menu[i][j][1] != '/')?config.root + theme.menu[i][j].substr(1):theme.menu[i][j]%>"><%- __(j) %></a></li>
		<%      } %>
		    </ul>
		  </li>
		<%} else {%>
		    <li><a href="<%-(theme.menu[i][0] == '/' && theme.menu[i][1] != '/')?config.root +  theme.menu[i].substr(1):theme.menu[i]%>"><%- __(i) %></a></li>
	    <%	}
	}%>
      </ul>
      <ul class="nav navbar-nav pull-right">
      <% if (theme.rss) { %>
        <li><a href="<%- theme.rss%>">RSS</a></li>
      <% } %>      
      <% if (theme.twitter && theme.twitter.username) { %>
        <li><a href="https://twitter.com/<%- theme.twitter.username %>">twitter</a></li>
      <% } else if (theme.twitter_id) { %>
        <li><a href="https://twitter.com/<%- theme.twitter_id %>">twitter</a></li>
      <% } %>
      <% if (theme.facebook_id) { %>
        <li><a href="https://www.facebook.com/<%- theme.facebook_id %>">facebook</a></li>
      <% } %>
      <% if (theme.linked_id) { %>
        <li><a href="http://www.linkedin.com/in/<%- theme.linkedin_id %>">linkedin</a></li>
      <% } %>
      <% if (theme.github_id) { %>
        <li><a href="https://github.com/<%- theme.twitter_id %>">github</a></li>
      <% } %>
      </ul>
    </div>
  </div>
</nav>
<div class="clearfix"></div>