<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%
var title = [];
if (page.current > 1) title.push(__('page', page.current));
if (page.title) title.push(page.title);
if (page.category) title.push(page.category);
if (page.tag) title.push(page.tag);
if (page.archive){
  if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
  else title.push(__('archive_a'));
}
title.push(UserConfig.title);
%>
<title><%= title.join(' | ') %></title>
<% if (config.author){ %><meta name="author" content="<%= config.author %>"><% } %>
<% if (page.description){ %>
<meta name="description" content="<%= page.description.trim() %>">
<% } else if (typeof(auto_keyword_desc) == 'function' && page.content){ %>
<%- auto_keyword_desc(page.content) %>
<% } else if (UserConfig.description){ %>
<meta name="description" content="<%= UserConfig.description %>">
<% } else if (page.excerpt){ %>
<meta name="description" content="<%= strip_html(page.excerpt).trim() %>">
<% } else if (page.content){ %>
<meta name="description" content="<%= strip_html(page.content).trim().substring(0, 150) %>">
<% } %>
<% if (page.keywords){ %><meta name="keywords" content="<%= page.keywords %>"><% } %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<% if (page.title){ %><meta property="og:title" content="<%= page.title %>"/><% } %>
<meta property="og:site_name" content="<%= UserConfig.title -%>"/>
<% if(page.cover) { %><meta property="og:image" content="<%= page.cover %>" />
<% } else if(config.cover){ %> <meta property="og:image" content="<%= config.cover %>"/><%}%>

<%if (hexo.debug){%><style>.testIE{display:none;}</style><%} -%>
<!--[if IE]><style>.testIE.IE{display:inline;}</style><![endif]-->
<!--[if lte IE 7]><%-css('css/ie7.css')%><![endif]-->
<!--[if (lt IE 9)&(gt IE 7)]><style>.testIE.IE8{display:inline;}</style><![endif]-->
<!--[if gt IE 8]><style>.testIE.IE9{display:inline;}</style><![endif]-->

<link href="<%- config.root %>favicon.png" rel="icon">
<link rel="alternate" href="<% if (UserConfig.rss){ %><%- RealPath(UserConfig.rss) %><% } else if (config.feed.path){ %><%- RealPath(config.feed.path) %><% } else { %><%- config.root %>atom.xml<% } %>" title="<%= UserConfig.title %> Feed" type="application/atom+xml">
<%var modules_css = [];UserConfig.loaded_modules.forEach(function(mod){var module = UserConfig.modules[mod];if (module && module.css) modules_css.push(module.css);})%>
<%- css(modules_css) %>
<%- css('css/style.css') %>
<!--[if lt IE 9]>
   <style>article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}</style>
   <script src="http://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
   <%if (UserConfig.modules['respond']){%><%- partial('../_modules/respond',{module: UserConfig.modules['respond']}) -%><%}%>
   <script src="http://cdn.bootcss.com/selectivizr/1.0.2/selectivizr-min.js"></script>
<![endif]-->
<script type="text/javascript">
function loadjs(c,d){var a=document.createElement("script");a.type="text/javascript";a.src=c;a.charset=d||"gbk";(document.getElementsByTagName("HEAD")[0]||document.getElementsByTagName("BODY")[0]).appendChild(a)};
</script>
